<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="https://raw.githubusercontent.com/a-brasch/PSU-USP522-Practicum/master/USP522_DiffPrivOR_Submitted_Comments_FINAL.html">USP522 repo</a></li>
	        		<li><a href="/USP522.html">USP522</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:alexbrasch88@gmail.com">email</a></li>
	        		<li><a href="https://github.com/a-brasch">github.com/a-brasch</a></li>
				</ul>
			</footer>
		</body>
	</html>
